<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poramin</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <a class="logo" href="/">PORTFOLIO</a>
        <nav>
            <ul class="nav_links">
                <li><a href="/">● HOME</a></li>
                <li><a href="/aboutme">● ABOUT ME</a></li>
                <li><a href="/education">● EDUCATION</a></li>
                <li><a href="/workexperience">● EXPERIENCE</a></li>
                <li><a href="/skill">● SKILL</a></li>
            </ul>
        </nav>
        <a class="contact" href="/contact">CONTACT</a>
    </header>
    <div class="bg">
        <div class="text">
            <main>{{{body}}}</main>
        </div>
    </div>
    <footer>
        <div class="ft">
            THANKS A LOT
    </footer>

</body>
</html>