<link rel="stylesheet" href="index.css">
<body>
    <div class="bg">
        <div class="text">
            <div class="hello">
                <h1>★ ★ ★ ★ ★</h1>
                <h1 class="idx1">:: Ladies and gentlemen, I'am {{myData.nickname}}</h1>
            </div>
            <div class="motto">
                <h2 class="idx2">{{myData.motto}}</h2>
            </div>
        </div>
        <div class="content">
            <img class="image" src="img/Jam1.png">
        </div>
        
    </div>
</body>
