*{
 box-sizing: border-box;
}
h1{
    text-align: center;
}
body {
    background-color:rgb(255, 255, 255);
    font-family: 'Lemonada', cursive;
}

h1 {
    color:#2D191A  ;
}
.search   {
    text-align: center;

    display: block;
    width: 20%;
    padding: 10px;
    font-size: 17px;
   
    
border-radius:20px  ;
margin:auto;
}

   

.gallery{
    text-align: center;
   

}
.gallery img{
    margin:auto;
    border: 5px solid #2D191A;
    padding: 10px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    
}
:root{
    --base:#2D191A5;
    --spacing:0px;
    --blur:10px;  
}